extends layout

block content

    h1 Galaxy: #{galaxy.name}

    div(style='margin-left:20px;margin-top:20px')
        h4 Planets in #{galaxy.name}
        dl
            each planetInstance in galaxy_planet_types
                dd
                    img.smallPic(src=planetInstance.planet.imgUrl)
                    span
                        p #[strong Planet Name:]  &nbsp;
                        a(href=planetInstance.url) #{planetInstance.name || "No Name"}
                        p &nbsp; &nbsp;
                        p #[strong Planet Owned:] #{planetInstance.owned}
                span
                    dt #[strong Planet Type:] &nbsp;
                    p #{planetInstance.planet.astronomicalName} &nbsp; &nbsp;
                span
                    dt #[strong Planet Conditions:] &nbsp;
                    p #{planetInstance.planet.planetType} &nbsp; &nbsp;
                span
                    dt #[strong About:] &nbsp;
                        p #{planetInstance.planet.desc} &nbsp;
                span
                    dt #[strong Cost:] &nbsp;
                    p #{planetInstance.planet.price} <sup>Space Credits</sup> &nbsp; &nbsp;
                span
                    dt #[strong Number In Stock:] &nbsp;
                    p #{planetInstance.planet.numInStock} &nbsp; &nbsp;
                div
                span
                    dt #[strong Required Resources:] &nbsp;
                    p #{planetInstance.planet.requiredResources[0] || "None"}
                hr
            else
                p This galaxy has no planets