extends layout
block content
    h1= title

    h5 All Galaxies:
        hr
        ul.picList
            each galaxy in list_galaxies
                li
                    img(src=galaxy.imgUrl alt="galaxy image")
                    div
                        a(href=galaxy.url ) #{galaxy.name}
                        p #{galaxy.desc}
            else
                li There are no galaxies.

