extends layout
block content
    h1= title

    h5 All Planet Types:
        hr
        ul.picList
          each planet in list_planets
            li
                img(src=planet.imgUrl alt="8-bit planet gif")
                div
                    a(href=planet.url) #{planet.astronomicalName}
                    p #{planet.desc}

                    span Number In Stock: #{planet.numInStock} &nbsp; &nbsp;
                        p Required Resources: &nbsp;
                        | #{planet.requiredResources[0] || "None"} &nbsp; &nbsp;
                        p Cost: #{planet.price} <sup>Space Credits</sup>

          else
            li There are no planets.

