extends layout
block content
    h1= title

    h5 All Resources:
        hr
        ul
            each resource in list_resources
                li
                    h6 #[strong Resource:]  #{resource.name}
                    div.resDesc
                        p #[strong Cost:]  #{resource.cost} <sup>Space Credits</sup>
                        p #[strong Description:]  #{resource.desc}
                        p #[strong Benefit:]  #{resource.benefit}
            else
                li There are no resources

